<div class="container-fluid p-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Filter</label>
            <app-select [multi]="true" [(ngModel)]="styleFilter" name="filterField" (onSelect)="filterList($event)" bindValue="title" [bindLabel]="['title', 'count']" [list]="styleTitles">
            </app-select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Sort By</label>
            <app-select [(ngModel)]="sort" name="sortField" (onSelect)="sortBy($event)" bindValue="value" [bindLabel]="['label']" [list]="sortEnums"></app-select>
          </div>
        </div>
      </div>
    </div>
    <hr class="mt-4">
  </div>
  <div class="row">
    <div *ngFor="let list of artCollectionList; trackBy: listTrackBy"  class="col-xl-3 align-self-stretch">
      <div class="card">
        <figure [style.background-position-y]="!list.image_id ? 'bottom': 'center'" [style.background-image]="imageUrl | urlTransform: list?.image_id">
        </figure>
        <div class="card-body">
          <h5 class="card-title">{{list.title}}</h5>
         <b class="d-block">{{list.artist_title}}</b>
          <ng-container *ngIf="list.date_start && list.date_end; else showLocation">
              <ng-container *ngIf="list.date_start === list.date_end; else showLocationWithYear">
                <small class="d-block">{{list.place_of_origin}} ({{list.date_start}})</small>
              </ng-container>
                <ng-template #showLocationWithYear>
                  <small class="d-block">{{list.place_of_origin}} ({{list.date_start}} - {{list.date_end}})</small>
                </ng-template>
          </ng-container>
          <ng-template #showLocation>
            <small class="d-block">{{list.place_of_origin}}</small>
          </ng-template>
          <hr>
          <ng-container *ngIf="list.material_titles">
            <h6>
              <ng-container *ngFor="let material of list.material_titles; let j = index">
                <small class="fst-italic border-dark pe-2" [ngClass]="{'border-start ps-2': j > 0 && j !== list.material_titles.length}">{{material}}</small>
              </ng-container>
            </h6>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <app-paginator class="mt-4 d-block" (pageChange)="navigateToPage($event)" [pageLinkSize]="5" [totalRecords]="totalCount"></app-paginator>
</div>
