.wood-bg{
  width: 100%;
  background-image: url("../../assets/img/seamless-wood.jpg");
  background-repeat: repeat;
  .vh-100{
    overflow-y: scroll;
    .cap{
      width: 200px;
      position: absolute;
      top: 50%;
      margin-top: -100px;
      left: 25%;
    }
  }
  .svg{
    position: absolute;
    left: 10%;
    top: 35%;
  }
}
