<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="wrapper text-white">
          <span><b>Address :</b></span>
          <p>73724 Route 30
            South Richmond Hill, NY 11419 </p>
        </div>

        <div class="wrapper text-white mt-4">
          <p class="mb-1"><b>Tel:</b> (603)-677-3400</p>
          <p class="mb-1"><b>Email:</b> info@yourdomain.com</p>
          <p class="mb-1"><b>Web:</b> yourdomain.com</p>
        </div>

      </div>

      <div class="col-lg-8">
        <div class="row">


          <div class="col-md-3">
            <ul class="list-unstyled">
              <li><b>Help Center:</b></li>
            <li>Documentations</li>
          <li>Tutorials</li>
        <li>Term of Use</li>
      <li>Privacy Policy</li>
            </ul>
          </div>


          <div class="col-md-3">
            <ul class="list-unstyled">
              <li><b>About Us:</b></li>
              <li>Our Team</li>
              <li>Company</li>
              <li>Jobs</li>
              <li>News Letter</li>
            </ul>
          </div>


          <div class="col-md-3">
            <ul class="list-unstyled">
              <li><b>Tools:</b></li>
              <li>Create Account</li>
              <li>Log In</li>
              <li>Services</li>
              <li>Site Map</li>
            </ul>
          </div>


          <div class="col-md-3">
            <ul class="list-unstyled">
              <li><b>Get in Touch:</b></li>
              <li>Contact Us</li>
              <li>Join Us</li>
              <li>Invite Us</li>
              <li>Donate</li>
            </ul>
          </div>


        </div>
      </div>


    </div>
    <div class="bottom d-flex flex-wrap justify-content-between">
      <div>
      <a href="">Facebook.</a>
      <a href="">Twitter.</a>
      <a href="">Instagram.</a>
      <a href="">LinkedIn.</a>
      </div>
      <small class="text-white">Copyright © 2017 LMS EDUCATION. All Rights Reserved</small>
    </div>

  </div>

</footer>
