<app-global-loader *ngIf="(loaderObservable$ | async)"></app-global-loader>
<div class="container-fluid">
  <div #scroll (scroll)="navigatePage($event)" class="me-auto ms-auto ui-container">
    <ng-container *ngIf="error else data">
      <div class="m-auto p-4">
        <h3>{{error?.code}}</h3>
        <p>{{error.message}}</p>
      </div>
    </ng-container>
    <ng-template #data>
      <ng-container *ngFor="let post of articles">
        <app-post [posts]="post"></app-post>
      </ng-container>
    </ng-template>
  </div>
</div>
