<div class="hero">
  <h1>Learn Excilence in Teaching.</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
  <button class="hero-btn shadow">EXPLORE COURSES</button>
  <div class="col-lg-4 offset-lg-4">
    <img class="img-fluid" src="assets/img/main.png" alt="student">
  </div>
</div>


<section class="courses">
  <div class="container">
    <h3>Course Catogories</h3>
    <div class="catogories d-flex flex-wrap justify-content-sm-between">


      <div *ngFor="let cat of catogories" class="block">
        <div class="inner-block">
          <div class="wrapper">
            <i class="{{cat.icon}}" aria-hidden="true"></i>
            <h6 class="font-weight-normal">{{cat.name}}</h6>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


<section class="top-courses">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h3>Top Courses</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi bibendum venenatis mollis. </p>
      </div>

      <div class="col-lg-8 text-right align-self-center">
<button class="btn-lms d-inline-block">VIEW MORE</button>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-4">
        <div class="card">
          <figure>
            <img src="assets/img/img01.jpg" class="card-img-top" alt="img">
            <figcaption><h1>+</h1></figcaption>
          </figure>
          <div class="card-body">
            <h5 class="card-title">Conceptual Art, Photography and Wild Life</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi bibendum venenatis mollis. Ut sem metus, convallis a libero vel, suscipit </p>
            <h4>$159.00</h4>
            <div class="rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-4">
        <div class="card">
          <figure>
            <img src="assets/img/img02.jpg" class="card-img-top" alt="img">
            <figcaption><h1>+</h1></figcaption>
          </figure>
          <div class="card-body">
            <h5 class="card-title">Lifestyle Archives - The Times to Change Your Life</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi bibendum venenatis mollis. Ut sem metus, convallis a libero vel, suscipit </p>
            <h4>$159.00</h4>
            <div class="rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card">
          <figure>
            <img src="assets/img/img03.jpg" class="card-img-top" alt="img">
            <figcaption><h1>+</h1></figcaption>
          </figure>
          <div class="card-body">
            <h5 class="card-title">Cambridge English Exam Preparation</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi bibendum venenatis mollis. Ut sem metus, convallis a libero vel, suscipit </p>
            <h4>$159.00</h4>
            <div class="rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-4">
        <div class="card">
          <figure>
            <img src="assets/img/img04.jpg" class="card-img-top" alt="img">
            <figcaption><h1>+</h1></figcaption>
          </figure>
          <div class="card-body">
            <h5 class="card-title">Cambridge English Exam Preparation</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi bibendum venenatis mollis. Ut sem metus, convallis a libero vel, suscipit </p>
            <h4>$159.00</h4>
            <div class="rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-4">
        <div class="card">
          <figure>
            <img src="assets/img/img05.jpg" class="card-img-top" alt="img">
            <figcaption><h1>+</h1></figcaption>
          </figure>
          <div class="card-body">
            <h5 class="card-title">Introduction to Fusion of Acoustic Guitar</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi bibendum venenatis mollis. Ut sem metus, convallis a libero vel, suscipit </p>
            <h4>$159.00</h4>
            <div class="rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>



      <div class="col-lg-4">
        <div class="card">
          <figure>
            <img src="assets/img/img06.jpg" class="card-img-top" alt="img">
            <figcaption><h1>+</h1></figcaption>
          </figure>
          <div class="card-body">
            <h5 class="card-title">Introduction to Fusion of Acoustic Guitar</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi bibendum venenatis mollis. Ut sem metus, convallis a libero vel, suscipit </p>
            <h4>$159.00</h4>
            <div class="rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>



    </div>


  </div>
</section>



<section class="popular-courses">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <h3>Discover Our Popular Course</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi bibendum venenatis mollis. </p>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-4">
        <div class="pattern-block d-flex">
<h4 class="m-auto">Top Rated</h4>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="pattern-block d-flex purple">
          <h4 class="m-auto">Top Rated</h4>
        </div>
      </div>


      <div class="col-lg-4">
        <div class="pattern-block blue d-flex">
          <h4 class="m-auto">Top Rated</h4>
        </div>
      </div>

    </div>

  </div>
</section>


<section class="top-courses">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h3>Best Sellers Course</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi bibendum venenatis mollis. </p>
      </div>

      <div class="col-lg-8 text-right align-self-center">
        <button class="btn-lms d-inline-block">VIEW MORE</button>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-4">
        <div class="card">
          <figure>
            <img src="assets/img/img07.jpg" class="card-img-top" alt="img">
            <figcaption><h1>+</h1></figcaption>
          </figure>
          <div class="card-body">
            <h5 class="card-title">WordPress: Understanding Custom Plugins with PHP
            </h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi bibendum venenatis mollis. Ut sem metus, convallis a libero vel, suscipit </p>
            <h4>$159.00</h4>
            <div class="rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-4">
        <div class="card">
          <figure>
            <img src="assets/img/img08.jpg" class="card-img-top" alt="img">
            <figcaption><h1>+</h1></figcaption>
          </figure>
          <div class="card-body">
            <h5 class="card-title">The Complete Web Developer Course 2.0</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi bibendum venenatis mollis. Ut sem metus, convallis a libero vel, suscipit </p>
            <h4>$159.00</h4>
            <div class="rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card">
          <figure>
            <img src="assets/img/img09.jpg" class="card-img-top" alt="img">
            <figcaption><h1>+</h1></figcaption>
          </figure>
          <div class="card-body">
            <h5 class="card-title">Introduction to the Design of Everyday Things</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi bibendum venenatis mollis. Ut sem metus, convallis a libero vel, suscipit </p>
            <h4>$159.00</h4>
            <div class="rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-4">
        <div class="card">
          <figure>
            <img src="assets/img/img10.jpg" class="card-img-top" alt="img">
            <figcaption><h1>+</h1></figcaption>
          </figure>
          <div class="card-body">
            <h5 class="card-title">The Complete Ethical Hacking Course: A to Z</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi bibendum venenatis mollis. Ut sem metus, convallis a libero vel, suscipit </p>
            <h4>$159.00</h4>
            <div class="rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-4">
        <div class="card">
          <figure>
            <img src="assets/img/img11.jpg" class="card-img-top" alt="img">
            <figcaption><h1>+</h1></figcaption>
          </figure>
          <div class="card-body">
            <h5 class="card-title">Introduction to networking for complete beginners</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi bibendum venenatis mollis. Ut sem metus, convallis a libero vel, suscipit </p>
            <h4>$159.00</h4>
            <div class="rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>



      <div class="col-lg-4">
        <div class="card">
          <figure>
            <img src="assets/img/img12.jpg" class="card-img-top" alt="img">
            <figcaption><h1>+</h1></figcaption>
          </figure>
          <div class="card-body">
            <h5 class="card-title">Digital Analytics for Marketing Professionals: Marketing (...)</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi bibendum venenatis mollis. Ut sem metus, convallis a libero vel, suscipit </p>
            <h4>$159.00</h4>
            <div class="rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>



    </div>


  </div>
</section>


<section class="goals shadow-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h3>Achieve Your Goals</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi bibendum venenatis mollis.</p>
      </div>
    </div>

    <div class="row pt-4 pb-4">

      <div class="col-lg-4">
        <div class="white-block shadow-sm d-flex align-items-center">
          <div class="wrapper">
          <img src="assets/img/skill.png" alt="skill">
          <h5>Expand Skill Development</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac vulputate (...)</p>
        </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="white-block shadow-sm d-flex align-items-center">
          <div class="wrapper">
          <img src="assets/img/learn.png" alt="skill">
          <h5>Expand Skill Development</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac vulputate (...)</p>
        </div>
        </div>
      </div>


      <div class="col-lg-4">
        <div class="white-block shadow-sm d-flex align-items-center">
          <div class="wrapper">
          <img src="assets/img/tech.png" alt="skill">
          <h5>Expand Skill Development</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac vulputate (...)</p>
        </div>
        </div>
      </div>


      <div class="col-lg-4">
        <div class="white-block shadow-sm d-flex align-items-center">
          <div class="wrapper">
            <img src="assets/img/potential.png" alt="skill">
            <h5>Expand Skill Development</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac vulputate (...)</p>
          </div>
        </div>
      </div>


      <div class="col-lg-4">
        <div class="white-block shadow-sm d-flex align-items-center">
          <div class="wrapper">
            <img src="assets/img/passion.png" alt="skill">
            <h5>Expand Skill Development</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac vulputate (...)</p>
          </div>
        </div>
      </div>


      <div class="col-lg-4">
        <div class="white-block shadow-sm d-flex align-items-center">
          <div class="wrapper">
            <img src="assets/img/analytic.png" alt="skill">
            <h5>Expand Skill Development</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac vulputate (...)</p>
          </div>
        </div>
      </div>


    </div>

  </div>
</section>



<section class="client">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h3>Client’s Appriciation</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi bibendum venenatis mollis.</p>
      </div>
    </div>


<div class="row mt-5">
  <div class="col-lg-6  border-bottom border-right pb-5">
        <div class="content pr-4">
          <img src="assets/img/qoute.png" alt="qoute" class="qoute">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a viverra nisl.
            Morbi in ornare nibh, sed efficitur neque. Proin efficitur odio eget pulvinar hendrerit.</p>
        </div>
    <div class="profile d-flex align-items-center mt-5">
      <div class="dp">
        <img class="img-fluid" src="assets/img/dp.png" alt="dp">
      </div>
      <div class="name ml-4">
        <h6>John Doe</h6>
        <p class="m-0">Graphic Designer</p>
      </div>
    </div>
  </div>

  <div class="col-lg-6 pb-5 border-bottom">
    <div class="p-4">
    <img src="assets/img/vdo.png" alt="vdo" class="img-fluid">
    </div>
  </div>

</div>

<div class="pt-5 text-center">
  <h5 class="font-weight-normal">LMSedu is trusted by 322,000+ students and companies worldwide</h5>
</div>
    <div class="position-relative">
      <a (click)="left(slider)" class="btn-link left"> <i class="fa fa-chevron-left" aria-hidden="true"></i></a>
      <owl-carousel #slider
        [options]="customOptions" [items]="img" [carouselClasses]="['owl-theme', 'row', 'align-items-center']">
      <div *ngFor="let images of img" class="item">
        <img class="img-fluid" src="{{images.url}}" alt="">
      </div>
      </owl-carousel>
      <a (click)="right(slider)" class="btn-link right"> <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
    </div>


  </div>
</section>



<section class="blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h3>Our Blog</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi bibendum venenatis mollis.</p>
      </div>
    </div>


<owl-carousel class="mt-5" [options]="options" [items]="blog" [carouselClasses]="['owl-theme', 'row']">
  <div *ngFor="let blogs of blog" class="blog-card">
    <div class="card shadow-sm" >
      <img src="{{blogs.url}}" class="card-img-top" alt="...">
      <div class="card-body pt-2">
        <div class="d-flex justify-content-between pb-2">
          <div class="top text-muted">
             <i class="fa fa-calendar" aria-hidden="true"></i> <span class="ml-2">April 5, 2017</span>
          </div>
          <div class="top text-muted">
            <i class="fa fa-user" aria-hidden="true"></i> <span class="ml-2">John Doe</span>
          </div>
        </div>
        <h5 class="card-title">Learner Story: Alena – Exploring the Future Through Graphic Design</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi bibendum venenatis mollis.
          Ut sem metus, convallis a libero vel, suscipit </p>
        <div class="d-flex justify-content-between">
          <div class="wrapper">
        <a href="#" class="btn-link">Read More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
          </div>
          <div class="wrapper">
            <div class="like">
              <a href=""><i class="fa fa-heart mr-1" aria-hidden="true"></i></a> <small>(93)</small>
            </div>
            <div class="comment">
              <a href=""><i class="fa fa-commenting-o mr-1" aria-hidden="true"></i></a> <small>(93)</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</owl-carousel>

  </div>
</section>



<section class="news-letter">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 text-center">
        <h3>Become A Instructor</h3>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Be an intructor" aria-label="Recipient's username" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button" id="button-addon2">JOIN</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
