<!--<div class="container vh-100">-->
<!--  <div class="d-flex h-100">-->
<!--    <div class="col-xl-4 col-md-5 col-xl-4 col-sm-10">-->
<!--      -->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="drop-zone-container">
  <div class="drop-zone">
    <input #files class="d-none" type="file" multiple />
    <div class="m-auto text-center">
      <figure class="mb-2">
        <div class="img-wrapper">
        <img class="behind-img" src="./assets/img.svg" alt="img">
        <img class="in-front-img" src="./assets/img.svg" alt="img">
        <img class="behind-img" src="./assets/img.svg" alt="img">
        </div>
      </figure>
      <h5>Drop your images <a (click)="files.click()" href="javascript:void(0)">here</a></h5>
      <small class="text-muted">Supports: JPG, JPEG, PNG</small>
    </div>
  </div>
</div>
