.post-header{
  a{
    color: gray;
  }
  h5{
    font-size: 15px;
    margin-left: 0.5rem;
  }
}
.response{
  .pi{
    font-size: 1rem;
  }
}
.dot{
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: gray;
  margin: 0 3px;
  &.active{
    background-color: #4462EB;
  }
}
.interactive-sec{
  height: 30px;
  p{
    color: gray;
    margin-left: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
    b{
      color: black;
    }
  }
}
.post-container{
  margin-bottom: 0.5rem;
  min-height: 300px;
  &:last-child{
    margin-bottom: 0;
  }
}
.description{
  p{
    line-height: 20px;
    &.hide{
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    span{
      color: gray;
      cursor: pointer;
      display: block;
      position: absolute;
      bottom: 0;
      right: 4px;
      background-color: white;
      padding-left: 2px;
      &:hover{
        color: #585858;
      }
    }
  }
  small{
    color: gray;
  }
}
