/* You can add global styles to this file, and also import other style files */
$primary-color: #efefef;
html, body {
  overflow-x: hidden;
}
.form-control{
  border-color: #efefef;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
  transition: all 0.3s ease-in-out;
}
.form-group{
  label{
    color: #b3b3b3;
  }
}
.btn-primary{
  background-color: $primary-color;
}
.form-check{
  .form-check-input{
    width: 15px;
    height: 15px;
    border-color: #b3b3b3;
  }
}
.error-tip{
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  margin-bottom: 0.5rem;
  position: relative;
  padding: 0.4rem;
  display: inline-block;
  background-color: rgb(220 53 69 / 50%);
  border: 1px solid;
  &:after{
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: -0.3rem;
    margin-left: -0.25rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.3rem 0.25rem 0 0.25rem;
    border-color: #ff0000 transparent transparent transparent
  }
}
.show-password{
  position: relative;
  a{
    position: absolute;
    height: 100%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
    cursor: pointer;
    z-index: 10;
    i{
      color: #a5a5a5;
    }
  }
  .form-control{
    padding-right: 20px;
  }
}
.phone-prefix{
  position: relative;
  span{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    color: #5a5a5a;
    z-index: 10;
  }
  .form-control{
    padding-left: 50px;
  }
}
