@import "~bootstrap/scss/bootstrap";
html, body{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body{
  background-image: url("asset/resource/bg.jpg");
  background-size: cover;
  background-position: center;
}
.card {
  backdrop-filter: blur(5px) saturate(201%);
  -webkit-backdrop-filter: blur(12px) saturate(154%);
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  border: 1px solid rgb(23 54 79);
  cursor: pointer;
  * {
    pointer-events: none;
    color: white;
  }
}
